* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}
#index>header {
    background: linear-gradient(90deg, #1f1f1f 50%, #f4f4f4 50%);
    position: relative;
    width: 100%;
    height: 100vh;
}
header {
    background: #0B0909;
    position: relative;
    width: 100%;
    height: 13vh;
}
#navbar {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 24px 80px;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 24px 80px;
}
.nav-img {
    display: inline-block;
    vertical-align: middle;
}
.navigasi {
    float: left;
}
.navigasi-kanan {
   float: right;
    
}
.navigasi-kanan-img {
    width: 22px;
    margin-right: 16px;
    vertical-align: middle;
}

.navigasi ul {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    
}
.navigasi li{
    display: inline-block;
    margin-right: 30px;
    color: #fff;
    font-weight: 500;
}
#indexhome {
    text-decoration: underline;
    text-decoration-color: #FF8906;
}
#producthome {
    text-decoration: underline;
    text-decoration-color: #FF8906;
}
.navigasi li a {
    text-decoration: none;
    color: white;
}
.tombol-signin {
    margin-right: 20px;
    border: 1px solid;
    padding: 8px 18px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}
.tombol-signup {
    background: #FF8906;
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    color: #0B132A;
    font-weight: 600;
}
.header-banner-index {
    color: white;
    width: 50%;
    height: 1024px;
    padding: 80px;
    float: left;
    background: #0B0909;
    
}
.tagline-index {
    display: inline-block; 
}
.tagline-index h1 {
    color: white;
    font-size: 42px;
    line-height: 1.2;
    margin-top: 15%;
}
.tagline-index p {
    color: #d0d0d0;
    margin-top: 20px;
    line-height: 1.6;
}
.main-img-index {
    width: 50%;
    float: right;
}
.main-img-index img {
     width: 100%;
    height: 1024px;
    display: block;
    margin: 0 auto;
}
.header-button-div {
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-button-div a {
    background: #FF8906;
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    color: #0B132A;
    font-weight: 600;
    display: inline-block;
    margin-top: 30px;
}
#index>section {
    padding: 80px;
    overflow: hidden;
}
.section1-kiri-index {
    width: 50%;
    float: left;
}
.section1-kiri-index h1 {
    font-size: 32px;
    margin-bottom: 20px;
}
.section1-kiri-index p {
    color: #4F5665;
}
.section1-list-index div {
    margin-top: 16px;
}
.section1-list-index p {
    display: inline-block;
    margin-left: 10px;
}
.section1-img-index {
    width: 50%;
    float: right;
    text-align: center;
}
.section1-img-index img {
    width: 80%;
}
.section2-tagline {
    text-align: center;
    margin-bottom: 60px;
}
.section2-tagline h1 {
    font-size: 32px;
}
.section2-tagline p {
    margin-top: 10px;
    color: #4F5665;
}
.menu-list-div {
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu-list {
    padding: 15px;
    position: relative;
    height: 60vh;
}
.menu-image img {
    width: 100%;
    border-radius: 10px;
}
.menu-price {
    position: absolute;
    top: 230px;
    left: 50px;
    width: 70%;
    background-color: white;
    text-align: center;
    padding: 5px;
}
.menu-price h3 {
    margin-top: 12px;
}
.menu-price p {
    font-size: 14px;
    color: #4F5665;
    margin: 10px 0;
}
.menu-price a {
    background-color: #ff8c00;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    width: 130px;
}
.menu-price img {
    display: inline-block; 
    vertical-align: middle;
}
.menu-price .price {
    color: #FF8906;
}
.section3-tagline-div {
    text-align: center;
}
.section3-tagline h1 {
    font-size: 32px;
}
.section3-tagline p {
    color: #4F5665;
    margin-top: 10px;
}

.section3-img img {
    width: 100%;
    margin-top: 40px;
}
.section4 {
    background-color: #0B0909;
    color: white;
    padding: 80px;
}
.section4-kiri {
    width: 40%;
    float: left;
}
.section4-kiri img {
    width: 100%;
    border-radius: 12px;
}
.section4-kanan {
    width: 55%;
    float: right;
    padding-left: 40px;
}
.section4-kanan div {
    margin-top: 20px;
}
.section4-kanan>.btn-testi-wrapper {
    width: 19vh;
    display: flex;
    justify-content: space-between;
}
.btn-testi-wrapper>.btn-testi-kiri {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    color: black;
}
.btn-testi-wrapper>.btn-testi-kanan {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background-color:#FF8906;
    color: black;
}
.section4-kanan h2 {
    margin-bottom: 20px;
}
.section4-kanan p {
    margin-bottom: 20px;
}
.section4-kanan>.role {
    color:#FF8906;
    font-size: 18px;

}
/* product.html */
.banner {
    background: url("assets/index/Rectangle299.png") center/cover;
    padding: 100px 40px;
    color: #fff;
}
.promo {
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    
}
.promo-header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.promo-card-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 20px;
}
.btn-testi-wrapper>.btn-testi-kiri {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #E8E8E8;
    color: black;
}
.btn-testi-wrapper {
    display: flex;
    width: 19vh;    
    justify-content: space-between;
}
.btn-testi-wrapper>.btn-testi-kanan {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background-color:#FF8906;
    color: black;
}
.promo-header h2 span {
    color: #FF8906;
}

.promo-card {
    display: inline-block;
    background: #8fc28a;
    color: white;
    padding: 15px;
    width: 310px;
    font-size: smaller;
    border-radius: 12px;
    margin-right: 15px;
    vertical-align: top;
}
.promo-card-2 {
    display: inline-block;
    background: #FF8906;
    color: white;
    padding: 15px;
    width: 310px;
    font-size: smaller;
    border-radius: 12px;
    margin-right: 15px;
    vertical-align: top;
}
.promo-card img {
    width: 50px;
    float: left;
    margin-right: 10px;
}
.promo-card-2 img {
    width: 50px;
    float: left;
    margin-right: 10px;
}
.product-product {
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.filter-product {
    float: left;
    width: 250px;
    background: #0B0909;
    color: white;
    padding: 20px;
}
.filter-product input {
    margin: 8px 0;
}
.filter-product>.category>ul{
    list-style-type: none;
}
.filter-product>.sort-by>ul {
    list-style-type: none;
}
.apply {
    background: #FF8906;
    border: none;
    width: 100%;
    padding: 10px;
}
.product-list {
    float: left;
    width: calc(100% - 290px); 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 3%;
}
.card {
    background: white;
    padding: 10px;
    position: relative;
}
.card>.product-img {
    width: 377px;
    height: 360px;
    object-fit: cover;
}
.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: #fff;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 7px;
}
.price>strong {
    color: #FF8906;
}
.card a {
    background-color: #FF8906;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    width: 269px;
    text-align: center;
}
.card>.product-checkout {
    display: inline-block; 
    vertical-align: middle;
}
.next img {
    margin-left: 600px;
    margin-top: 45px;
    margin-bottom: 30px;
}
/* login and register css */
.container {
    width: 100%;
    height: 100vh;
}
.logo {
    margin-bottom: 20px;
}
.logo img {
    margin-bottom: 20px;
}
.login-title {
    margin-top: 40px;
    font-size: 28px;
    color: #7b4a2d;
}
.subtitle {
    margin-top: 8px;
    color: #777;
}
.left-image {
    width: 30%;
    float: left;
    height: 100vh;
}
.left-image img {
    width: 100%;
    height: auto;      
    min-height: 100vh;
    display: block;
}
.right-content {
    width: 60%;
    float: right;
    padding: 40px;
    margin-right: 5%;
}
.btn-register {
    width: 100%;
    background: #ff8c00;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}
.login-text {
    text-align: center;
    margin-top: 20px;
    color: #666;
}
.login-text>a {
    text-decoration: none;
    color: #ff8c00;
    font-weight: 600;
    cursor: pointer;
}
.input-group {
    margin-top: 30px;
}
.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}
.input-group input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}
.input-wrapper {
    position: relative;
    width: 100%;
}
.input-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    width: 18px;
    transform: translateY(-50%);
}
.eye-icon {
    position: absolute;
    top: 30%;
    right: 14px;
    width: 18px;
}
.eye-icon2 {
    position: absolute;
    top: 30%;
    right: 14px;
    width: 18px;
}
.input-wrapper input {
    width: 100%;
    padding: 14px 44px; 
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}
.forgot {
    margin-top: 10px;
    text-align: right;
    color: #ff8906;
    text-decoration: none;
}
.forgotpass-wrapper {
    display: flex;
    justify-content: right;
}
.btn-login {
    width: 100%;
    margin-top: 30px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #ff8906;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}
.register-text {
    text-align: center;
    margin-top: 20px;
}
.register-text a {
    text-decoration: none;
    color: #ff8c00;
    font-weight: 600;
    cursor: pointer;
}
.divider {
    text-align: center;
    margin: 20px 0;
    color: #aaa;
}
.social img {
    width: 18px;
    vertical-align: middle;
    margin-right: 8px;
}
.social {
    width: 100%;
}
.social-btn {
    width: 48%;
    float: left;
    padding: 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: center;
    margin-right: 4%;
    cursor: pointer;
}
.social-btn:last-child {
    margin-right: 0;
}
.social-btn img {
    width: 18px;
    vertical-align: middle;
    margin-right: 8px;
}
/* profile css */
.profile-title {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
}
.profile-container {
    display: flex;
}
.profile-left {
    width: 20%;
    height: 286px;
    margin-left: 5%;
    margin-right: 10px;
    margin-bottom: 5%;
    border: #E8E8E8 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.profile-left-down>div a {
    text-decoration: none;
    color: black;
}
.profile-left-down>div {
    height: 50px;
    background-color: #FF8906;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-right {
    width: 70%;
    margin-right: 5%;
    border: #666 1px solid;
}
.profile-input-group { 
    margin-top: 30px;
    width: 100%;
}
.profile-input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    margin-left: 5%;
}
.profile-input-group input {
    width: 90%;
    padding: 14px 44px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-left: 5%;
}
.profile-input-wrapper {
    position: relative;
}
.profile-input-icon {
    position: absolute;
    top: 50%;
    left: 7%;
    width: 18px;
    transform: translateY(-50%);
}
.eye-slash {
    position: absolute;
    top: 30%;
    right: 45px;
}
.profile-input-pw {
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.profile-input-pw p {
    color: #FF8906;
    font-size: 12px;
}
.profile-right button {
    background-color: #FF8906;
    color: black;
    width: 90%;
    height: 40px;
    border: none;
    margin: 5%;
}
/* history css */
.history-title {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-left: 60px;
    
}
.order-count {
    padding: 10px;
    background-color: #E8E8E8;
    margin-left: 20px;
}
.history-container {
    margin-left: 60px;
    display: flex;
}
.history-left {
    width: 55%;
}
.history-left-top {
    display: flex;
}
.history-progress {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    width: 60%;
    background-color: #E8E8E899;
}
.history-progress div {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.history-progress div:first-child {
    background-color: white; 
}
.calendar {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    width: 60%;
    background-color: #E8E8E899;
    justify-content: center;
}
.calendar select {
    border: none;
}
.history-product {
    display: flex;
    margin-bottom: 16px;
    background-color: #E8E8E8;
    margin-right: 20px;
}
.history-product>img {
    width: 100px;
}
.history-product>div {
    padding: 15px;
}
.history-product>div a {
    color: #FF8906;
}
.history-product div>.on-progress {
    color: #FF8906;
    background-color: #FF890633;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}
.history-right {
    width: 30%;
    height: 30%;
    padding: 10px;
    background-color: white;
    border: 1px solid;
    border-color: #E8E8E8;
}
.history-right h3 {
    margin-bottom: 16px;
    margin-top: 12px;
}
.history-right p {
    margin-bottom: 16px;
}
.history-right div {
    height: 50px;
    background-color: #FF8906;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.history-right div a {
    text-decoration: none;
    color: black;
    
}
.history-next {
    width: 55%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* forgot password css */
.forgot-left-image {
    width: 30%;
    float: left;
}
.forgot-left-image img {
    width: 100%;
    height: 100vh;
    display: flex;
}
.forgot-right-content {
    width: 60%;
    float: left;
    padding: 80px 70px;
    margin-top: 100px;
}
.forgot-logo {
    margin-bottom: 40px;
}
.forgot-logo img {
    width: 60%;
}
.forgot-h2 {
    color: #8b5e3c;
    margin-bottom: 10px;
}
.desc {
    color: #666;
    margin-bottom: 30px;
}
.input-wrapper input {
    width: 100%;
    padding: 14px 14px 14px 44px;
    border-radius: 8px;
    border: 1px solid #ddd;
}
.btn-submit {
    margin-top: 30px;
    width: 100%;
    padding: 14px;
    background: #ff8c00;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* chat css */
.chat-wrapper {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 999;
}
.chat-box {
    width: 320px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
.chat-header {
    background: #FF8906;
    padding: 16px;
    border-radius: 16px 16px 0 0;
}
.chat-header img {
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
}
.chat-header div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.chat-header h4 {
    color: white;
    font-size: 14px;
}
.chat-header span {
    font-size: 12px;
    color: #ffe5c2;
}
.chat-body {
    padding: 20px;
}
.chat-row {
    width: 100%;
    margin-bottom: 16px;
    overflow: hidden; 
}
.chat-photo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.chat-row.admin .chat-photo {
    float: left;
    margin-right: 10px;
}
.admin-bubble {
    float: left;
    background: #E8E8E84D;
    padding: 10px 14px;
    border-radius: 12px;
    max-width: 65%;
    font-size: 14px;
}
.chat-row.user .chat-photo {
    float: right;
    margin-left: 10px;
}
.user-bubble {
    float: right;
    background: #E8E8E84D;
    color: #0B132A;
    padding: 10px 14px;
    border-radius: 12px;
    max-width: 65%;
    font-size: 14px;
}
.chat-input {
    padding: 12px;
    border-top: 1px solid #ddd;
}
.chat-input input {
    width: 75%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.chat-input a {
    width: 20%;
    background: #FF8906;
    border: none;
    padding: 8px;
    border-radius: 8px;
}
.chat-button {
    width: 56px;
    height: 56px;
    background: #FF8906;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 56px;
    font-size: 24px;
    cursor: pointer;
    float: right;
}
.chat-logo {
    margin-top: 4px;
}
/* detail order css */
.detor-section1 {
    margin-top: 50px;
    margin-left: 5%;
    padding-bottom: 18px;
}
.detor-container {
    display: flex;
    margin-bottom: 50px;
}
.detor-left { 
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}
.detor-left h2 {
    margin-bottom: 20px;
}
.detor-left div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: #E8E8E8E8 1px solid;
    padding: 15px;
}
.done {
    background-color: #00A70033;
    color: green;
    width: 60px;
    height: 30px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detor-total {
    color: #FF8906;
}
.detor-right {
    width: 50%;
    margin-right: 5%;
}
.detor-right h2 {
    margin-bottom: 20px;
}
.detor-card {
    display: flex;
    margin-bottom: 15px;
    background-color: #E8E8E84D;
}
.detor-card img {
    width: 180px;
}
.detor-card>div {
    padding: 15px;
}
.detor-badge {
    background: #D00000;
    color: #fff;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 10px;
}
.card-price>h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.card-price>p {
    margin-bottom: 10px;
}
.card-price>div span:first-child {
    color: red;
}
.card-price>div span:last-child {
    color: #FF8906;
    font-size: larger;
    margin-left: 10px;
}
/* detail product css */
.detpro-section2 {
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
}
.detpro-left {
    width: 50%;
    margin-right: 0;
}
.detpro-left-top img {
    width: 90%;
    margin-bottom: 20px;
}
.detpro-left-bot {
    display: flex;
    flex-grow: 1;
    gap: 15px;
    margin-bottom: 50px;
}
.detpro-left-bot img {
    width: 29%;
}
.detpro-right {
    width: 50%;
    margin-right: 5%;
    margin-left: 0;
}
.detpro-right h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.detpro-right img {
    padding: 10px;
}
.detpro-product-price span:first-child {
    color: red;
}
.detpro-product-price span:last-child {
    color: #FF8906;
    margin-left: 10px;
    font-size: larger;
}
.detpro-badge {
    background: red;
    color: #fff;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 10px;
}
.detpro-product-list {
    display: flex;
}
.detpro-review {
    color: #4F5665;
    display: flex;
    align-items: center;
}
.detpro-right p {
    color: #4F5665;
    margin-bottom: 15px;
}
.quantity button:first-child {
    background-color: white;
    border: #FF8906 solid;
    width: 30px;
    height: 30px;
    font-size: larger;
}
.quantity button:last-child {
    background-color: #FF8906;
    border: none;
    width: 30px;
    height: 30px;
    font-size: larger;
}
.quantity span {
    padding: 3px 10px;
    border-top: #4F5665 1px solid;
    border-bottom: #4F5665 1px solid;
}
.quantity {
    margin-bottom: 15px
}
.detpro-right h3 {
    margin-bottom: 15px;
    margin-top: 15px;
}
.detpro-button {
    display: flex;
    flex-grow: 1;
    gap: 20px;
}
.detpro-button button {
    width: 186px; 
    height: 50px;
    background-color: white;
    color: black;
    border-color: #FF8906;
}
.detpro-checkout {
    display: flex;
    align-items: center;
}
.detpro-buy {
    background-color: #FF8906;
    width: 380px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 8px;
}
.detpro-cart {
    background-color: white;
    border: #FF8906 1px solid;
    width: 380px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 8px;
}
.detpro-buy a {
    text-decoration: none;
    color: white;
    

}
.detpro-cart a {
    text-decoration: none;
    color: #FF8906;
}

.detpro-recommendation {
    margin-left: 5%;
    margin-bottom: 15px;
}
.detpro-product-list {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
}
.detpro-card {
    position: relative;
    margin: 20px;
}
.detpro-card-badge {
    background: red;
    color: #fff;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 10px;
    position: absolute;
}
.detpro-card-price {
    background-color: white;
    width: 230px;
    margin-left: 20px;

}
.detpro-card-price div {
    display: flex;
}
.detpro-card-price div a {
    background-color: #ff8c00;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    display: flex;
    margin-top: 10px;
    text-decoration: none;
    width: 130px;
}
.detpro-card-price div img {
    width: 45px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.detpro-price del {
    color: red;
}
.detpro-price strong {
    color: #FF8906;
    font-size: larger;
    margin-left: 10px;
}
.detpro-next {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* checkout product css  */
.checkout-title {
    padding: 30px;
}
.checkout-section2 {
    display: flex;
}
.checkout-order-header {
    display: flex;
    width: 680px;
    justify-content: space-between;
    margin-bottom: 13px;
    
}
.checkout-order-header p:first-child {
    font-size: 20px;
}
.checkout-order-header>.add-menu {
    background-color: #FF8906;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
}
.checkout-order-header:first-child{
    margin-left: 30px;
}
.checkout-order {
    width: 60%;
}
.checkout-order>.checkout-product {
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: #E8E8E84D;
    height: 190px;
    margin-bottom: 10px;
}
.checkout-product img {
    width: 178px;
    height: 170px;
}
.checkout-product-info {
    padding: 30px;
    height: 200px;
}
.checkout-product-info h3 {
    padding-top: 20px;
}
.checkout-product-info p {
    padding-top: 20px;
}
.checkout-product-price {
    padding-top: 20px;
}
.checkout-badge {
    background: red;
    color: #fff;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 10px;
}
.checkout-product>.del-img {
    width: 20px;
    height: 20px;
}

.checkout-total {
    width: 30%; 
    padding: 10px;
}
.checkout {
    background-color: #E8E8E84D;
    padding: 10px;
    width: 439px;
}
.checkout button {
    text-decoration: none;
    background-color: #FF8906;
    color: black;
    width: 400px;
    height: 40px;
    margin-left: 12px;
    margin-bottom: 14px;
    border-radius: 6px;
    border-style: none;
}
.checkout p {
    margin-bottom: 15px;
}
.checkout>.bank {
    width: 100%;
    padding: 8px;
}
.checkout>.bank img {
    padding: 13px;
}
.checkout-total-header {
    margin-bottom: 10px;
}
.checkout-total-header p {
    font-size: 20px;
}
.checkout-total-order {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}
.checkout-total-delivery {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}
.checkout-total-tax {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}
.checkout-sub-total {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}

.checkout-input-group { 
    margin-top: 30px;
    width: 50%;
}
.checkout-input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    margin-left: 5%;
}
.checkout-input-group input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-left: 5%;
}
.checkout-input-wrapper {
    position: relative;
}
.checkout-input-icon {
    position: absolute;
    top: 50%;
    left: 7%;
    width: 18px;
    transform: translateY(-50%);
}
.checkout-input-delivery {
    margin-left: 5%;
    margin-bottom: 5%;
}
.checkout-input-delivery button {
    width: 206px; 
    height: 50px;
    background-color: white;
    color: black;
    border-color: #FF8906;
}
.checkout-input-wrapper input {
    width: 100%;
    padding: 14px 44px; 
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

footer {
    background-color: #f8f8f8;
    padding: 60px 80px;
    overflow: hidden;
    display: flex;
}

.footer1 {
    width: 30%;
}

.footer1 p {
    margin-top: 16px;
    color: #666;
}

.footer2 {
    width: 20%;
    margin-left: 50px;
}
.footer3 {
    width: 20%;
}

.footer4 {
    width: 30%;
}

footer li {
    margin-bottom: 10px;
    color: #555;
}

footer ul {
    list-style-type: none;
}

.li-bold {
    font-weight: 700;
}
