* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}
header {
    background: #0B0909;
    position: relative;
    width: 100%;
    height: 13vh;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 24px 80px;
}
.nav-img {
    display: inline-block;
    vertical-align: middle;
}
.navigasi {
    float: left;
}
.navigasi-kanan {
   float: right;
    
}
.navigasi-kanan-img {
    width: 22px;
    margin-right: 16px;
    vertical-align: middle;
}
.navigasi ul {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    
}
.navigasi li{
    display: inline-block;
    margin-right: 30px;
    color: #fff;
    font-weight: 500;
}
.tombol-signin {
    margin-right: 20px;
    border: 1px solid;
    padding: 8px 18px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}
.tombol-signup {
    background: #FF8906;
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    color: #0B132A;
    font-weight: 600;
}
.section2 {
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
}
.left {
    width: 50%;
    margin-right: 0;
}
.left-top img {
    width: 90%;
    margin-bottom: 20px;
}
.left-bot {
    display: flex;
    flex-grow: 1;
    gap: 15px;
    margin-bottom: 50px;
}
.left-bot img {
    width: 29%;
}
.right {
    width: 50%;
    margin-right: 5%;
    margin-left: 0;
}
.right h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.right img {
    padding: 10px;
}
.product-price span:first-child {
    color: red;
}
.product-price span:last-child {
    color: #FF8906;
    margin-left: 10px;
    font-size: larger;
}
.badge {
    background: red;
    color: #fff;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 10px;
}
.product-list {
    display: flex;
}
.review {
    color: #4F5665;
    display: flex;
    align-items: center;
}
.right p {
    color: #4F5665;
    margin-bottom: 15px;
}
.quantity button:first-child {
    background-color: white;
    border: #FF8906 solid;
    width: 30px;
    height: 30px;
    font-size: larger;
}
.quantity button:last-child {
    background-color: #FF8906;
    border: none;
    width: 30px;
    height: 30px;
    font-size: larger;
}
.quantity span {
    padding: 3px 10px;
    border-top: #4F5665 1px solid;
    border-bottom: #4F5665 1px solid;
}
.quantity {
    margin-bottom: 15px
}
.right h3 {
    margin-bottom: 15px;
    margin-top: 15px;
}
.button {
    display: flex;
    flex-grow: 1;
    gap: 20px;
}
.button button {
    width: 186px; 
    height: 50px;
    background-color: white;
    color: black;
    border-color: #FF8906;
}
.checkout {
    display: flex;
    align-items: center;
}
.buy {
    background-color: #FF8906;
    width: 380px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 8px;
}
.cart {
    background-color: white;
    border: #FF8906 1px solid;
    width: 380px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 8px;
}
.buy a {
    text-decoration: none;
    color: white;
    

}
.cart a {
    text-decoration: none;
    color: #FF8906;
}

.recommendation {
    margin-left: 5%;
    margin-bottom: 15px;
}
.product-list {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
}
.card {
    position: relative;
    margin: 20px;
}
.card-badge {
    background: red;
    color: #fff;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 10px;
    position: absolute;
}
.card-price {
    background-color: white;
    width: 230px;
    margin-left: 20px;
    /* margin-top: -50px; */

}
.card-price div {
    display: flex;
}
.card-price div a {
    background-color: #ff8c00;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    display: flex;
    margin-top: 10px;
    text-decoration: none;
    width: 130px;
}
.card-price div img {
    width: 45px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.price del {
    color: red;
}
.price strong {
    color: #FF8906;
    font-size: larger;
    margin-left: 10px;
}
.next {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer {
    background-color: #f8f8f8;
    padding: 60px 80px;
    overflow: hidden;
    display: flex;
}

.footer1 {
    width: 30%;
}

.footer1 p {
    margin-top: 16px;
    color: #666;
}

.footer2 {
    width: 20%;
    margin-left: 50px;
}
.footer3 {
    width: 20%;
}

.footer4 {
    width: 30%;
}

footer li {
    margin-bottom: 10px;
    color: #555;
}

footer ul {
    list-style-type: none;
}

.li-bold {
    font-weight: 700;
}

