* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}
header {
    background: #0B0909;
    position: relative;
    width: 100%;
    height: 13vh;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 24px 80px;
}
.nav-img {
    display: inline-block;
    vertical-align: middle;
}
.navigasi {
    float: left;
}
.navigasi-kanan {
   float: right;
    
}
.navigasi-kanan-img {
    width: 22px;
    margin-right: 16px;
    vertical-align: middle;
}
.navigasi ul {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    
}
.navigasi li{
    display: inline-block;
    margin-right: 30px;
    color: #fff;
    font-weight: 500;
}
.navigasi li a {
    text-decoration: none;
    color: white;
}
.tombol-signin {
    margin-right: 20px;
    border: 1px solid;
    padding: 8px 18px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}
.tombol-signup {
    background: #FF8906;
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    color: #0B132A;
    font-weight: 600;
}
.header-title {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-left: 60px;
    
}
.order-count {
    padding: 10px;
    background-color: #E8E8E8;
    margin-left: 20px;
}
.container {
    margin-left: 60px;
    display: flex;
}
.left {
    width: 55%;
}
.left-top {
    display: flex;
}
.progress {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    width: 60%;
    background-color: #E8E8E899;
}
.progress div {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress div:first-child {
    background-color: white; 
}
.calendar {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    width: 60%;
    background-color: #E8E8E899;
    justify-content: center;
}
.calendar select {
    border: none;
}
.product {
    display: flex;
    margin-bottom: 16px;
    background-color: #E8E8E8;
    margin-right: 20px;
}
.product>img {
    width: 100px;
}
.product>div {
    padding: 15px;
}
.product>div a {
    color: #FF8906;
}
.product div>.on-progress {
    color: #FF8906;
    background-color: #FF890633;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}
.right {
    width: 30%;
    height: 30%;
    padding: 10px;
    background-color: white;
    border: 1px solid;
    border-color: #E8E8E8;
}
.right h3 {
    margin-bottom: 16px;
    margin-top: 12px;
}
.right p {
    margin-bottom: 16px;
}
.right div {
    height: 50px;
    background-color: #FF8906;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right div a {
    text-decoration: none;
    color: black;
    
}
.next {
    width: 55%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #f8f8f8;
    padding: 60px 80px;
    overflow: hidden;
    display: flex;
}

.footer1 {
    width: 30%;
}

.footer1 p {
    margin-top: 16px;
    color: #666;
}

.footer2 {
    width: 20%;
    margin-left: 50px;
}
.footer3 {
    width: 20%;
}

.footer4 {
    width: 30%;
}

footer li {
    margin-bottom: 10px;
    color: #555;
}

footer ul {
    list-style-type: none;
}

.li-bold {
    font-weight: 700;
}